#root {
  margin: 0 auto;
  /* padding: 0 5rem; */
}
.nav {
  background-color: var(--primary-color);
}
.active,
.order-list {
  max-width: 1280px;
  margin: 0 auto;
}
.nav_container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-size: 2rem;
}
.menu_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  max-width: 100px;
}

.navigation_box {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  width: 100%;
  padding-left: 2rem;
  gap: 2rem;
  justify-content: space-between;
}
#user {
  font-size: 1rem;
}

.navigation_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}
.menu-open {
  display: none;
}
/* order_container */
.order {
  box-shadow: 0px 5px 4px -2px rgba(0, 0, 0, 0.4);
}
.order_container {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.order_loop {
  display: flex;
  gap: 1rem;
  padding-top: 0.5rem;
}
#order_no {
  /* text-decoration: underline; */
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.order_actions {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
  padding-top: 2rem;
}

/* active_order_container */

.active_order_container {
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 6px;
  margin: 2.5rem 0;
}
.active_order_container > div {
  flex: 1;
  padding-left: 1rem;
  box-sizing: border-box;
  border-left: 1px solid black;
}
.active_order_container > div:first-child {
  border-left: none;
}
.active_order_container > div > p:nth-child(2) {
  font-weight: 800;
  font-size: 1.2rem;
}
#categories_icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* order list */

.order_list_container {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 0 2rem;
}

.order_list_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  margin-top: 2rem;
}
.order_list_top > div {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.input_box {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0 1rem;
  width: 400px;
}
#search_icon {
  font-size: 1.2rem;
}
.input_box input {
  outline: none;
  font-size: 1rem;
  padding: 0.5rem 0;
  width: 100%;
}
#printer_icon {
  font-size: 1em;
  padding-left: 2rem;
}

.products-table-container {
  overflow-x: auto;
}
.products-table {
  width: 100%;
  border-collapse: collapse;
}
.products-table th,
.products-table td {
  border-bottom: 1px solid black;
  padding: 1rem;

  padding-right: 0;
  text-align: left;
}
.products-table th:nth-child(2),
.products-table td:nth-child(2) {
  width: 25%; /* Set the width of the 2nd column to 40% */
}
.products-table th:not(:nth-child(2)),
.products-table td:not(:nth-child(2)) {
  width: 12%;
}
.products-table th:first-child,
.products-table td:first-child {
  width: 5%;
}

.price_quantity_total {
  display: table-row;
}
.price_quantity_total td {
  padding: 0.5rem;
}
.price_quantity_total tr td:first-child {
  padding-right: 5rem;
}
.price_quantity_total tr td:nth-child(2) {
  text-align: center;
}
.price_quantity_total tr td > p span {
  border: 1px solid gray;
  padding: 0 0.5rem;
  border-radius: 6px;
}
.plus_minus {
  background-color: green;
  box-sizing: border-box;
  display: flex;

  color: white;

  border-radius: 50%;
}
.plus_minus span {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.2rem;
}
.reason-section {
  display: flex;
  justify-content: space-between;
}
.reason-section p {
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 0.2rem 0.6rem;
  font-size: 0.9rem;
}

@media (max-width: 620px) {
  #navlinks {
    display: none;
  }
  .menu-open {
    display: block;
    padding-right: 1rem;
    font-size: 2rem;
  }
  .menu_items {
    position: relative;
    padding: 0;
  }

  .navigation_box {
    position: absolute;
    flex-direction: column;
    left: -10;
    top: 55px;
    font-size: 1.5rem;
    width: 140px;
    padding: 1rem;
    gap: 0;
    line-height: 2;
    background-color: var(--primary-color);
  }
}
